


body {
    font-family: system-ui;
    background-color: #2a2a2a;
    color: white;
    text-align: center;
  }
  
div{
    width: 200px;
    height: 200px;
  }
  
  .card1{
    background: purple;
    flex: 1;
  }

  .card2{ background: lightgreen;
    flex: 1;
  }
  

.flex-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

