@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  /* --font-sans: var(--font-kanit-sans); */
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-kanit-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --color-sk-purple: oklch(0.5331 0.2696 293.44);
  --color-sk-purple-light: oklch(0.6743 0.2043 300.14);

  --color-sk-red: oklch(0.6357 0.1916 24.39);
  --color-sk-red-light: oklch(0.6616 0.1741 23.11);

  --color-sk-green: oklch(0.655 0.1505 156.38);
  --color-sk-green-light: oklch(0.6837 0.1403 158.38);

  --color-sk-yellow: oklch(0.8487 0.1731 88.14);
  /* --color-sk-yellow-light: oklch(0.8608 0.1714 90.48); */
  --color-sk-yellow-light: oklch(0.9067 0.188185 99.4709);
  --color-sk-orange: oklch(0.7521 0.1594 60.34);
  --color-sk-orange-light: oklch(0.7904 0.1521 62.04);

  --color-sk-blue: oklch(0.7275 0.154255 242.7431);
  --color-sk-blue-light: oklch(0.8028 0.118 234.06);

  --color-sk-white: oklch(1 0 0);
  --color-sk-white-light: oklch(0.9006 0 0);

  /* --color-frame: #5f6460; */
  --color-frame: oklch(0.3961 0.0088 151.74);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }

  h1 {
    @apply text-4xl font-bold tracking-tight;
  }

  h2 {
    @apply text-3xl lg:text-4xl font-semibold tracking-tight;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-base font-medium;
  }

  p {
    @apply text-primary/95;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  /* --background: oklch(0.2286 0.0096 285.62); */
  /* --background: ; */
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  /* --accent: oklch(0.97 0 0); */
  --accent: oklch(0.6743 0.2043 310.14);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --color-sk-purple: oklch(0.5331 0.2696 293.44);
  --color-sk-purple-light: oklch(0.6743 0.2043 300.14);

  --color-sk-red: oklch(0.6357 0.1916 24.39);
  --color-sk-red-light: oklch(0.7176 0.1753 23.18);

  --color-sk-green: oklch(0.655 0.1505 156.38);
  /* --color-sk-green-light: oklch(0.6837 0.1403 158.38); */
  --color-sk-green-light: oklch(0.773 0.1403 158.38);

  --color-sk-yellow: oklch(0.8487 0.1731 88.14);
  --color-sk-yellow-light: oklch(0.8608 0.1714 99.48);

  /* --color-sk-yellow-light: oklch(0.9067 0.188185 99.4709); */

  --color-sk-orange: oklch(0.7521 0.1594 60.34);
  /* --color-sk-orange-light: oklch(0.7904 0.1521 62.04); */
  --color-sk-orange-light: oklch(0.8264 0.1521 62.04);

  --color-sk-blue: oklch(0.7275 0.154255 242.7431);
  --color-sk-blue-light: oklch(0.8028 0.118 234.06);

  --color-sk-white: oklch(1 0 0);
  --color-sk-white-light: oklch(0.9006 0 0);
}

.dark {
  /* --background: oklch(0.145 0 0); */
  --background: oklch(0.2286 0.0096 285.62);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.98 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  /* --accent: oklch(0.269 0 0); */
  --accent: oklch(0.5331 0.2696 293.44);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #ffffff1a;
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .chip {
    @apply flex items-center justify-center px-3 py-1.5 border-border border rounded-full text-xs w-fit font-semibold  bg-secondary my-2;
  }
}
html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .spacing-section {
    @apply pt-16 md:pt-24 lg:pt-32;
  }

  .spacing-section-vertical {
    @apply py-16 md:py-24 lg:py-32;
  }
}

@keyframes scrollLeft {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -100%;
  }
}

.bg-scroll-left {
  background-image: url("/landing-background.svg");
  background-repeat: repeat;
  background-size: auto 100%;
  animation: scrollLeft 90s linear infinite;

  position: absolute;
  width: 100vw;
  height: 100%;
  top: -5%;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
  transform: translateY(5%) rotate(-8deg) scale(1.25);
  overflow: hidden;
}

/* Mobile: scroll faster */
@media (max-width: 640px) {
  .bg-scroll-left {
    animation: scrollLeft 30s linear infinite;
  }
}

/* Tablet: medium speed */
@media (min-width: 641px) and (max-width: 1024px) {
  .bg-scroll-left {
    animation: scrollLeft 30s linear infinite;
  }
}

/* Desktop: default 90s */

@keyframes sinusoidal {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-sinusoidal {
  animation: sinusoidal 3s infinite ease-in-out;
}
