.hiring-container {
    text-align: center;
    padding: 2rem;
    font-family: 'Kanit', sans-serif;
  }
  
  .hiring-header h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .hiring-header p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
  }
  
  .hiring-cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  
.hiring-card {
    width: 450px; /* Adjust width as per your design */
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiring-card:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}
  
.hiring-card img {
    width: calc(100% - 20px); /* Adjust width to account for border */
    height: auto;
    display: block;
    border-radius: 15px;
    border: 10px solid #F0F2F6;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
  
  .hiring-footer {
    margin-top: 2rem;
    font-size: 1rem;
    color: #333;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hiring-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .hiring-card {
      width: 80%; /* Full width on smaller screens */
    }
  }
  